
  <div class="footer">
    <footer class="page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">
          <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
              <h5 class="text-uppercase">RaviBank</h5>
              <p>Ring us! Email us! Come in! We can get you Account!</p>
            </div>
             <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Information</h5>
                <ul class="list-unstyled">
                  <li>
                    <a routerLink="aboutus">About Us</a>
                  </li>
                  <li>
                    <a  routerLink="contactus">Contact Us</a>
                  </li>

                  <li>
                    <a href="mailto:contact@theravibank.co.uk">Email</a>
                  </li>
                  <li>
                    <a href="#!">Terms And Conditions</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Follow us</h5>
                <div class="social-footer-icons">
                    <ul class="menu simple">
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                      </ul>
                </div>
              </div>
          </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
          <a href="https://ravibank.com/"> RaviBank.com</a>
        </div>
      </footer>
    </div>
