
<div class="imgcontainer">
  <h1>ABOUT US</h1>
    <img src="../assets/Images/RaviBankImage.png" alt="Avatar" class="avatar">
  </div>
  <div>
    <div class="container text-center">
        <h1>WELCOME TO RAVIBANK</h1>
        <p>The RaviBank was formed in 2022 at the initiative of the World Bank, the Government of India and representatives of Indian industry.
           The principal objective was to create a development financial institution for providing medium-term and long-term project financing to Indian businesses.
        </p>
        <p>
          RaviBank primarily focused its activities on project finance, providing long-term funds to a variety of industrial projects.
           With the liberalization of the financial sector in India in the 2022s, RaviBank transformed its business from a development financial institution
           offering only project finance to a diversified financial services provider that, along with its subsidiaries and other group companies, offered a wide variety of products and services.
        </p>
        <p>

          The issue of universal banking, which in the Indian context meant conversion of long-term lending institutions such as RaviBank into commercial banks, had been discussed at length in the late 2022s. Conversion into a bank offered RaviBank the ability to accept low-cost demand deposits and offer a wider range of products and services, and greater opportunities for earning non-fund based income in the form of banking fees and commissions.

        </p>
        <p>
          After consideration of various corporate structuring alternatives in the context of the emerging competitive scenario in the Indian banking industry, and the move towards universal banking, the managements of RaviBank and RaviBank Bank formed the view that the merger of RaviBank with RaviBank Bank would be the optimal strategic alternative for both entities, and would create the optimal legal structure for RaviBank group's universal banking strategy.
        </p>
        <h4> Our Server is located world wide</h4>
        <p>
          The merger would enhance value for RaviBank shareholders through the merged entity's access to low-cost deposits, greater opportunities for earning fee-based income and the ability to participate in the payments system and provide transaction-banking services. The merger would enhance value for RaviBank Bank shareholders through a large capital base and scale of operations, seamless access to RaviBank's strong corporate relationships built up over five decades, entry into new business segments, higher market share in various business segments, particularly fee-based services, and access to the vast talent pool of RaviBank and its subsidiaries.
        </p>
        <p>
          A mission to make sure the availability of professional & technical bank service across cities, villages in India & other parts of the world.
        </p>

          Ring us! Email us! Come in! We can get you bank account!

        <h3>
          Happy banking!
        </h3>
      </div>
  </div>

